*{
 
}


header{
  margin: 15px auto;
  display: flex;
  align-items: flex-end;
  width:80%;
}

#logo{
  justify-self: flex-start;
  height:50px;
  width:50px;
}

h1{
  margin-left: 5px;
  justify-self: flex-start;
  font-size: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkgray;
}
h1 em{
  font-family: cursive;
  font-size: 40px;
  color:black;
  }

nav{
  margin-right: 0px;
  margin-left:auto;
  }

hr{
  background: url(/img/hr-img.png);
  height:10px;
  border:none;
  margin-top:20px;
}


main{
  width: 80%;
  margin: 30px auto;
}

h2{
  font-size: 30px;
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  margin-top:40px;
}

h2 + p{
  font-size: 10px;
  color: darkgray;
}

h2+p+p{
  float: right;
  color:darkgray;
  font-size: 10px;

}

#heroImg{
  width:80vw;
  margin-top: 40px;
}

#recipe p{
  margin: 15px auto;
font-family: Georgia, 'Times New Roman', Times, serif;
color: darkgray;
text-indent: 30px;
}

#ulLists{
  margin-top:25px;
  padding:0px 20px;
background: url(/img/list-bg.png) no-repeat ;
background-size: cover;
display: flex;
justify-content: space-between;
}

#ulLists ul{
  margin: 20px;
  padding: 20px;
  list-style-type: square;
}

#ulLists li{
  font-family: fantasy;
  font-size: 16pt;
  
}

#authorArea{
  /* width:100%; */
  margin:30px 0px;
}

#authorArea img{
  float:left;
}

#authorArea button{
  position:relative;
  left: 86%;
  transform: translate(0,-60px);
  background-color:salmon;
  height:40px;
  border:1px solid rgb(241, 96, 80);
  color:white;

}
#authorArea h3{
  width:250px;
  margin-left:70px;
  padding: 10px 0px 15px 10px;
  font-size:16pt;
  font-weight: 600;
  color: darkgray;
}

#authorArea p{
  width:500px;
  color: darkgray;
  margin-left:70px;
  padding-left: 10px;
}
#footerHR{
  height:1px;
  width: 80%;
  background: lightgray;
}
footer {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom:30px;
}
footer img{
transform: translateY(-25px);
}
